/* RECIPE CARD STYLE */
 .row-and-margin {
    gap: 10px;
    margin-top: 30px;
 }
 .card-text img {
    width:200px;
    height:200px;
    object-fit: cover;
    border-radius: 5px;
 }

.recipeButton {
    margin-top: 10px;
 }
 .shareButton {
   color: rgb(8, 8, 68);
   background-color: rgb(255, 204, 0);
   border-radius: 5px;
   border: 1px solid transparent;
 }
 .shareButton:hover {
   background-color: rgb(8, 8, 68);
   color: rgb(255, 204, 0);
   cursor: pointer;
 }

#gridContainer {
  display: grid; 
}

/* RECIPE CARD STYLE */
.card-title {
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 20px;
    line-height: 22px;
    color: #6c6c6c;
}

.card-header h4 {

}