 /* RECIPE CARD STYLE */
 .row {
    gap: 10px;
 }
 .card-text img {
    width:200px;
    height:200px;
    object-fit: cover;
    border-radius: 5px;
 }

 .recipeButton {
    margin-top: 10px;
 }
 .shareButton {
   color: rgb(8, 8, 68);
 }
 .shareButton:hover {
   color: brown;
   cursor: pointer;
 }